body {
    background-color: wheat;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;
    display: flex;
    
}

div {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}

img {
    display: block;
    width: 650px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align:center;
    font-size: 90px;
}

p {
    
    margin-top: 80px;
    
}

h2 {
    margin-bottom: 0;
    text-align: 0;
}