body {
    background-color: wheat;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}

img {
    display: block;
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align:center;
    font-size: 70px;
}